<div class="text-center mb-8">
  <h2 class="text-base font-semibold leading-7 text-gray-900"><%= title %></h2>
  <p class="mt-1 text-sm leading-6 text-gray-600"><%= tagline.html_safe %></p> 
</div>
