<p>Hi <%= @name %>,</p>
<p>We've reviewed your application for FoundrDigest and are excited to extend you an invitation to join.</p>
<p>Get started here: << INSERT LINK HERE >></p>
<p>The FoundrDigest team</p>