<p>Hi <%= @name %>,</p>
<p>We've reviewed your application for FoundrDigest and determined it's not a fit at this time.</p>
<p>If you believe we've misinterpreted your submission, please reply to this email with further detail.</p>
<p>The FoundrDigest team</p>